<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Имиджборд</title>
        <link rel="shortcut icon" href="pic/icon.jpg" type="image/x-icon">
        <link rel="stylesheet" href="style.css" type="text/css"/>
    </head>
    <body>    

        <header>
        </header>
        
        <div class="buttons-div" display="inline-block"> 
            <button class="menu" onclick="location.href='main.html'"> На главную </button>         
            <button class="menu"> Войти </button>
            <button class="menu"> Регистрация </button>
        </div>
        
        <div class="pic-div">
            <img src="pic/vader.jpg">
        </div> 
        
        <div class="post"> пост </div> 

        <footer><div class="copyright"> © Саркисян Вероника, 2016 </div></footer>
          
    </body>

</html>